#define WINVER 0x0300
#include <windows.h>

100 ICON "clock2.ico"

ABOUT DIALOG 18, 18, 134, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "WinClock v1.2"
BEGIN
	LTEXT "Patrick Breen", -1, 16, 15, 54, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "3920 Mystic Valley Parkway #1119", -1, 16, 24, 113, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Medford, MA 02155", -1, 16, 33, 68, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Written by:", -1, 4, 4, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Internet:  pbreen@world.std.com", -1, 15, 47, 110, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "CIS:  70312,743", -1, 28, 55, 56, 8
	DEFPUSHBUTTON "OK", IDOK, 51, 72, 31, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


SETUP DIALOG 18, 29, 219, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Setup"
BEGIN
	CONTROL "Display", 200, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 1, 205, 72
	CONTROL "Left", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 8, 16, 8
	CONTROL "Right", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 123, 8, 22, 8
	CONTROL "Toggle", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 145, 8, 24, 8
	CONTROL "Off", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 175, 8, 16, 8
	LTEXT "Time", -1, 81, 18, 17, 8
	LTEXT "Date", -1, 82, 29, 16, 8
	LTEXT "Free Memory", -1, 55, 39, 43, 8
	LTEXT "Free Resources", -1, 46, 50, 52, 8
	LTEXT "Free Disk Space on:", -1, 19, 60, 66, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 100, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 59, 11, 12
	CONTROL "", 110, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 18, 7, 10
	CONTROL "", 111, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 18, 7, 10
	CONTROL "", 112, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 153, 18, 7, 10
	CONTROL "", 113, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 18, 7, 10
	CONTROL "", 114, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 28, 7, 10
	CONTROL "", 115, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 28, 7, 10
	CONTROL "", 116, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 153, 28, 7, 10
	CONTROL "", 117, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 28, 7, 10
	CONTROL "", 118, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 38, 7, 10
	CONTROL "", 119, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 38, 7, 10
	CONTROL "", 120, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 153, 38, 7, 10
	CONTROL "", 121, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 38, 7, 10
	CONTROL "", 122, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 49, 7, 10
	CONTROL "", 123, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 49, 7, 10
	CONTROL "", 124, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 153, 49, 7, 10
	CONTROL "", 125, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 49, 7, 10
	CONTROL "", 126, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 60, 7, 10
	CONTROL "", 127, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 60, 7, 10
	CONTROL "", 128, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 153, 60, 7, 10
	CONTROL "", 129, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 60, 7, 10
	CONTROL "Time Format", 101, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 145, 77, 67, 35
	CONTROL "24 Hour", 102, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 89, 57, 12
	CONTROL "Show Seconds", 103, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 100, 57, 10
	CONTROL "Date Format", 104, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 77, 126, 74
	CONTROL "MDY", 105, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 91, 117, 9
	CONTROL "DMY", 106, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 103, 117, 9
	CONTROL "YMD", 107, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 115, 117, 9
	CONTROL "ABBR", 108, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 127, 117, 9
	CONTROL "LONG", 109, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 139, 117, 9
	PUSHBUTTON "Cancel", IDCANCEL, 148, 135, 61, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 148, 118, 61, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

